body {
    background-color:lightgray;
    background-image: url("../images/trainimage.jpg");
    background-size: cover;
}
.jumbotron,.card {
    opacity: .87;
}
#staticData,#dynamicData{
    font-size: 16px;
}


